@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  position: fixed;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #1a1919;
  

}

.topnav {
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  display: grid;
  top: 200px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  border-radius: 5px;
  display: grid;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  display: grid;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  display: grid;
}
button {
  color: black;
  /* top: 50%;
  left: 50%; */
}
label {
  color: rgb(3, 3, 3);
  text-align: left;
}
input {
  color: black;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
  width: 30vw;
  padding-left:  10px;
  border-radius: 5px;
}

#sub_btn {
  background-color: rgb(0, 110, 255);
  color: black;
  width: 80px;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}












.in_middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(43, 150, 250);
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 10000;

  width: 80vw;
  height: 70vh;
  overflow-y: scroll;
}

.in_middle::-webkit-scrollbar {
  display: block;
}

.in_middle::-webkit-scrollbar-track {
  border-radius: 10px;
}

.in_middle::-webkit-scrollbar-thumb {
  background: rgb(0, 247, 255);
  border-radius: 10px;
}

.icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
  padding: 3px;
  
  border-radius: 50%;
}

.cont * {
  position: static;
}

.cont {
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.clock {
  width: 150px;
  letter-spacing: 2px;
  right: 0;
}



.in_middle * {
  position: static;
}

.temp {
  top: 10px;
  right: 455px;
  text-align: center;
  font-size: smaller;
  background-color:rgb(119, 178, 230);
  border-radius: 5px;
  padding: 15px;
  background-image:url("");
  background-size:cover;
  size: 25px;
  
  
}

.temp * {
  position: static;
}

.messages * {
  position: static;
}

.messages {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
  z-index: 1000;
}

.usermsg {
  text-align: right;
  width: 300px;
  color: rgb(113, 113, 235);
}

.jmsg {
  text-align: left;
  margin-top: 5px;
  width: 300px;
  color: rgb(245, 61, 61);
}

.messages::-webkit-scrollbar {
  display: none;
}

.commands {
  display: none;
  background-color: black;
}

.commands p {
  color: rgb(0, 168, 197);
}

#start_jarvis_btn {
  border:5px;
  outline: none;
  position: fixed;
  left: 50%;
  transform: translateX(0);
  top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  border-radius: 10px;


}

#start_jarvis_btn p {
  font-size: 20px;
  
  border-radius: 10px;
  
  
  
  

}

#start_jarvis_btn img {
  height: 100px;
  position:absolute;bottom: 55%;
  
}

#stop_jarvis_btn {
  border: none;
  outline: none;
  position: fixed;
  left: 50%;
  transform: translateX(0);
  top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  cursor: pointer;
}



#stop_jarvis_btn img {
  height: 100px;
  filter: blur(1px);
  
  position:absolute;bottom: 55%;
}



.new_jarvis_window {
  display: none;
}

@media (max-width: 300px) {
  .hide_on_small {
    display: none;
  }
  .new_jarvis_window {
    display: block;
  }
  #start_jarvis_btn {
    display: none;
    
  }
}

.vh-100{
  right: 20%;
  top: 200px;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}



.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(39, 44, 37) 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  
  border-radius:.25em;

  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}